body {
    background-color: hsl(226, 43%, 10%);
}

.container {
    display: grid;
    grid-template-columns: repeat(20, 140px);
    grid-auto-rows: 25px;
    margin: 5% 15%;
    grid-column-gap: 2em;
    grid-row-gap: 2em;
}

.perfil {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 10;
    background-color: hsl(246, 80%, 60%);
    border-radius: 20px;
}

.perfilPeriodos {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 14;
    background-color: hsl(235, 46%, 20%);
    border-radius: 20px;
}

.perfilDiario {
    position: absolute;
    color: hsl(235, 45%, 61%);
    margin: 28% 2%;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

.perfilSemanal {
    position: absolute;
    color: hsl(235, 45%, 61%);
    margin: 31% 2%;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

.perfilMensal {
    position: absolute;
    color: hsl(235, 45%, 61%);
    margin: 34% 2%;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

.perfilDiario:hover, .perfilSemanal:hover, .perfilMensal:hover {
    cursor: pointer;
    color: #FFF;
}

.perfilFoto {
    height: 70px;
    width: 70px;
    margin: 20% 0 0 10%;
    border: solid #FFF;
    border-radius: 50%;
}

.relatorio {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    color: hsl(236, 100%, 87%);
    margin: 10% 0 0 10%;
}

.nome {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 50px;
    margin: 10% 0 0 10%;
    line-height: 1.5em;
    color: #FFF;
}

.trabalholustracao {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 7;
    background-color: hsl(235, 46%, 20%);
    border-radius: 20px;
}

.trabalho {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
    border-radius: 20px;
    background: no-repeat url(imagens/icon-work.svg);
    background-position: 90% 0%;
    background-color: hsl(15, 100%, 70%);
}

.play {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 7;
    background-color: hsl(235, 46%, 20%);
    border-radius: 20px;
}

.playIlustracao {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 4;
    background: no-repeat url(imagens/icon-play.svg);
    background-position: 90% 0%;
    background-color: hsl(195, 74%, 62%);
    border-radius: 20px;
}

.estudando {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 7;
    background-color: hsl(235, 46%, 20%);
    border-radius: 20px;
}

.estudandoIlustracao {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 4;
    background: no-repeat url(imagens/icon-study.svg);
    background-position: 90% 0%;
    background-color: hsl(348, 100%, 68%);
    border-radius: 20px;
}

.exercicios {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 9;
    grid-row-end: 14;
    background-color: hsl(235, 46%, 20%);
    border-radius: 20px;
}

.exerciciosIlustracao {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 8;
    grid-row-end: 12;
    background: no-repeat url(imagens/icon-exercise.svg);
    background-position: 90% 0%;
    background-color: hsl(145, 58%, 55%);
    border-radius: 20px;
}

.social {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 9;
    grid-row-end: 14;
    background-color: hsl(235, 46%, 20%);
    border-radius: 20px;

}

.socialIlustracao {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 8;
    grid-row-end: 12;
    background: no-repeat url(imagens/icon-social.svg);
    background-position: 90% 0%;
    background-color: hsl(264, 64%, 52%);
    border-radius: 20px;
}

.cuidadosPessoais {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 9;
    grid-row-end: 14;
    background-color: hsl(235, 46%, 20%);
    border-radius: 20px;
}

.cuidadosPessoaisIlustracao {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 8;
    grid-row-end: 12;
    background: no-repeat url(imagens/icon-self-care.svg);
    background-position: 90% 0%;
    background-color: hsl(43, 84%, 65%);
    border-radius: 20px;
}

.tituloSecao {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    color: #FFF;
    margin: 10% 10%;
    display: inline-block;
    width: 150px;
}

.pontinhos {
    margin-left: 15%;
    cursor: pointer;
}

.tempo {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: #FFF;
    font-size: 50px;
    margin: 10% 10%;
}

.ultimosTempos {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    color: hsl(236, 100%, 87%);
    margin: 10% 10%;
}

@media screen and (max-width: 480px) {
    .container {
        display: grid;
        grid-template-columns: repeat(3, 150);
        grid-row-gap: 1em;
        margin: 10% 13%;

    }

    .perfil {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 5;
    }

    .perfilPeriodos {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 7;
    }

    .perfilFoto {
        margin: 10% 7%;
    }

    .relatorio {
        margin: -30% 37%;
        width: 100px;
    }

    .nome {
        width: 200px;
        font-size: 25px;
        margin: 30% 37%;
    }

    .perfilDiario {
        margin-left: 5%;
        margin-top: 35%;
        font-size: 20px;
    }

    .perfilSemanal {
        margin-left: 28%;
        margin-top: 35%;
        font-size: 20px;
    }

    .perfilMensal {
        margin-left: 55%;
        margin-top: 35%;
        font-size: 20px;
    }

    .trabalho {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 8;
        grid-row-end: 12;
    }

    .trabalholustracao {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 9;
        grid-row-end: 12;
    }

    .play {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 14;
        grid-row-end: 17;
    }

    .playIlustracao {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 13;
        grid-row-end: 17;
    }

    .estudando {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 19;
        grid-row-end: 22;
    }

    .estudandoIlustracao {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 18;
        grid-row-end: 22;
    }

    .exercicios {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 24;
        grid-row-end: 27;
    }

    .exerciciosIlustracao {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 23;
        grid-row-end: 27;
    }

    .social {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 29;
        grid-row-end: 32;
    }

    .socialIlustracao {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 28;
        grid-row-end: 32;
    }

    .cuidadosPessoais {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 34;
        grid-row-end: 37;
    }

    .cuidadosPessoaisIlustracao {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 33;
        grid-row-end: 37;
    }

    .tituloSecao {
        margin: 10% 5%;
        display: inline-block;
    }

    .pontinhos {
        margin-left: 28%;
    }

    .tempo {
        margin: -5% 5%;
        font-size: 30px;
    }

    .ultimosTempos {
        text-align: end;
        margin: -7% 5%;
        font-size: 14px;
    }
}